@model IEnumerable<PhotoDto>
@{
    ViewData["Title"] = "Detalle de Album";
}

<h1>@ViewData["Title"]</h1>


<table class="table table-bordered">

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Title</td>
        <td><img src="@item.ThumbnailUrl" /></td>
        <td><a href="~/album/detail/@item.Id">Ver comentarios</a></td>
    </tr>
    }

</table>

//ver comentarios ajax
